.vercel
node_modules/
build-release.bat
build-log.txt
android/app/build/
android/.gradle/
.temp/
.claude/
nul
*.firebase-adminsdk*.json
unnamed.jpg
supabase/config.toml
room8-d1867-firebase-adminsdk-fbsvc-454157b46d.json

.env*.local
